<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Africa | Continents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#127758;Continents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mt-3 me-3">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class='nav-item mt-3 mb-3'>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/asia">Asia</a></li>
                                <li><a class="dropdown-item" href="/europe">Europe</a></li>
                                <li><a class="dropdown-item" href="/northamerica">North America</a></li>
                                <li><a class="dropdown-item" href="/africa">Africa</a></li>
                                <li><a class="dropdown-item" href="/australia">Australia</a></li>
                                <li><a class="dropdown-item" href="/southamerica">South America</a></li>
                                <li><a class="dropdown-item" href="/antarctica">Antarctica</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class='container'>
        <p class="fw-bold fst-normal display-1 text-center mb-5">Africa</p>

        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1623697443281-8ed5ddfee7c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Pyramid of Giza</h5>
                        <p class='fw-bold text-white'> The Great Pyramid of Giza is the oldest and largest of the
                            pyramids in the Giza pyramid complex
                            bordering present-day Giza in Greater Cairo, Egypt.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1502250493741-939d1c76eaad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Abu Simbel Temples</h5>
                        <p class='fw-bold text-white'>Abu Simbel is two massive rock-cut temples in the village of Abu
                            Simbel, Aswan Governorate, Upper Egypt, near the border with Sudan.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1546146020-f11a39e6c061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Madagascar</h5>
                        <p class='fw-bold text-white'>Madagascar,
                            officially the Republic of Madagascar, and
                            previously known as the Malagasy Republic, is an island country in the Indian Ocean.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1580060839134-75a5edca2e99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Cape Town </h5>
                        <p class='fw-bold text-white'>Cape Town is the
                            oldest and second largest city in South Africa, after Johannesburg, and also the seat of the
                            Parliament of South Africa.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="fs-2 mb-5 font-monospace">
            Africa is the second largest and populous continent.
        </div>


        <div class="clearfix mb-5">
            <img src="https://images.unsplash.com/photo-1516026672322-bc52d61a55d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1072&q=80"
                class="rounded-pill col-md-6 float-md-end mb-3 ms-md-3 mt-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    Africa is the world's second-largest and second-most populous continent, after Asia in both cases.
                    With 1.3 billion people as of 2018. Africa's population is the youngest amongst
                    all the continents. Despite a wide range of natural resources, Africa is the least wealthy continent
                    per
                    capita, in part due to geographic impediments, legacies of European colonization in Africa and
                    the Cold War, predatory/neo-colonialistic activities by Western nations and
                    China, and undemocratic rule and deleterious policies. Despite this low concentration of wealth,
                    recent economic expansion and the large and young population make Africa an important economic
                    market in the broader global context.
                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1551385917-889e48f92c21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill me-5 col-md-6 float-md-start mb-3 ms-md-3 mt-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    The continent is surrounded by the Mediterranean Sea to the north, the Isthmus of Suez and the Red
                    Sea to the northeast, the Indian Ocean to the southeast and the Atlantic Ocean to the west. The
                    continent includes Madagascar and various archipelagos. It contains 54 fully recognised sovereign
                    states, eight territories and two de facto independent states with limited or no
                    recognition. Algeria is Africa's largest country by area, and Nigeria is its largest by population.
                    African nations cooperate through the establishment of the African Union, which is headquartered in
                    Addis Ababa.
                </p>
            </div>
        </div>


        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1547970810-dc1eac37d174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=936&q=80"
                class="rounded-pill mt-5 col-md-6 float-md-end mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    Africa has over 3,000 protected areas, with 198 marine protected areas, and 50 biosphere reserves.
                    Significant habitat destruction, increases in human population and poaching
                    are reducing Africa's biological diversity and arable land. Human encroachment, civil unrest and the
                    introduction of non-native species threaten biodiversity in Africa. This has been exacerbated by
                    administrative problems, inadequate personnel and funding problems.

                    Africa boasts perhaps the world's largest combination of density and "range of freedom" of wild
                    animal populations and diversity, with wild populations of large carnivores and herbivores ranging
                    freely on
                    primarily open non-private plains. It is also home to a variety of "jungle" animals including snakes
                    and primates and aquatic life such as crocodiles and amphibians. In addition, Africa has the largest
                    number of megafauna species, as it was least affected by the extinction of the Pleistocene
                    megafauna.

                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1519659528534-7fd733a832a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1026&q=80"
                class="rounded-pill col-md-6 pe-3 float-md-start mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    The history of Africa is long, complex, and has often been under-appreciated by the global
                    historical community. Africa, particularly Eastern Africa, is widely accepted as the place of
                    origin of humans and the Hominidae clade. The earliest hominids and their ancestors
                    have been dated to around 7 million years ago, including Sahelanthropus tchadensis, Australopithecus
                    africanus, A. afarensis, Homo erectus, H. habilis and H. ergaster— the earliest Homo sapiens
                    remains, found in Ethiopia, South Africa, and Morocco. Due to being the longest inhabited continent,
                    Africa
                    is also considered by anthropologists to be the most genetically diverse continent on the
                    planet.

                </p>
            </div>
        </div>
    </main>


    <footer class='footer bg-dark py-3 mt-auto'>
        <div class="container">
            <span class="text-muted">Some of the npm Packages I used:</span>
            <ul>
                <li class='text-muted'><a href="https://expressjs.com/" class='link-secondary'>Express</a></li>
                <li class='text-muted'><a href="https://ejs.co/" class='link-secondary'>EJS</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            Information is taken from the following sites:
            <ul>
                <li class='text-muted'><a href="https://www.wikipedia.org/" class='link-secondary'>Wikipedia</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            The design and UI was built with the help of:
            <ul>
                <li class='text-muted'><a href="https://getbootstrap.com/" class='link-secondary'>Bootstrap</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>