<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Europe | Continents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#127758;Continents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mt-3 me-3">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class='nav-item mt-3 mb-3'>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/asia">Asia</a></li>
                                <li><a class="dropdown-item" href="/europe">Europe</a></li>
                                <li><a class="dropdown-item" href="/northamerica">North America</a></li>
                                <li><a class="dropdown-item" href="/africa">Africa</a></li>
                                <li><a class="dropdown-item" href="/australia">Australia</a></li>
                                <li><a class="dropdown-item" href="/southamerica">South America</a></li>
                                <li><a class="dropdown-item" href="/antarctica">Antarctica</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class='container'>
        <p class="fw-bold fst-normal display-1 text-center mb-5">Europe</p>

        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1543349689-9a4d426bee8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1401&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Eiffel Tower</h5>
                        <p class='fw-bold text-white'> The Eiffel Tower is a wrought-iron lattice tower on the Champ de
                            Mars in
                            Paris, France. It is named after the engineer Gustave Eiffel, whose company designed and
                            built the tower.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1552832230-c0197dd311b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1396&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Colosseum</h5>
                        <p class='fw-bold text-white'>The Colosseum is an oval amphitheatre in the centre of the city of
                            Rome, Italy, just east of
                            the Roman Forum. It is the largest ancient amphitheatre ever built, and is still the largest
                            standing amphitheatre in the world today, despite its age.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1555993539-1732b0258235?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Acropolis of Athens</h5>
                        <p class='fw-bold text-white'>The Acropolis of Athens is an ancient citadel located on a rocky
                            outcrop above the city of Athens and contains the remains of several ancient buildings of
                            great architectural and historical significance, the most famous being the Parthenon.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1587447799393-4a52e64dfab9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Stonehenge</h5>
                        <p class='fw-bold text-white'>Stonehenge is a prehistoric monument on Salisbury Plain in
                            Wiltshire, England, three kilometres west of Amesbury. It consists of an outer ring
                            of vertical sarsen standing stones, each around 4.1 metres high, 2.1 metres wide, and
                            weighing around 25 tons, topped by connecting horizontal lintel stones.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="fs-2 mb-5 font-monospace">
            Europe is the second-smallest and 3rd most populous continent.
        </div>


        <div class="clearfix mb-5">
            <img src="https://images.unsplash.com/photo-1609868714484-2b2556006301?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill col-md-6 float-md-end mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    Europe is a landmass recognised as part of Eurasia or a continent in its own,
                    located entirely in Northern Hemisphere and mostly in Eastern Hemisphere. It shares the continental
                    landmass of Afro-Eurasia with both Asia and Africa, and is bordered by the Arctic Ocean to the
                    north, the Atlantic Ocean to the west, the Mediterranean Sea to the south and Asia to the east.
                    Europe is commonly considered to be separated from Asia by the watershed of the Ural Mountains, the
                    Ural River, the Caspian Sea, the Greater Caucasus, the Black Sea and the waterways of the Turkish
                    Straits.
                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1526667383715-3c42cbae3d60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill me-5 col-md-6 float-md-start mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    Europe covers about 2% of the Earth's surface, making it the second-smallest
                    continent. Politically,
                    Europe is divided into about fifty sovereign states, of which Russia is the largest and most
                    populous. Europe had a total
                    population of about 746 million in 2018. The European
                    climate is largely affected by warm Atlantic currents that temper winters and summers on much of the
                    continent, even at latitudes along which the climate in Asia and North America is severe.
                </p>
            </div>
        </div>


        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1577086664693-894d8405334a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1034&q=80"
                class="rounded-circle col-md-6 float-md-end mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    European culture is the root of Western civilisation, which traces its lineage back to ancient
                    Greece and ancient Rome. The fall of the Western Roman Empire in 476 AD and the subsequent
                    Migration Period marked the end of Europe's ancient history, and the beginning of the Middle Ages.
                    Renaissance humanism, exploration, art and science led to the modern era. Since the Age of
                    Discovery, started by Portugal and Spain, Europe played a predominant role in global affairs.
                    Between the 16th and 20th centuries, European powers colonised at various times the Americas, almost
                    all of Africa and Oceania, and the majority of Asia.
                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1541339246244-261d72e381b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                class="rounded-pill col-md-6 pe-3 float-md-start mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    The Age of Enlightenment, the subsequent French Revolution and the Napoleonic Wars shaped the
                    continent culturally, politically and economically. The Industrial Revolution, which began in Great
                    Britain at the end of the
                    18th century, gave rise to radical economic, cultural and social change in Western Europe. Both
                    world wars took place for the most part in Europe, contributing to
                    a decline in Western European dominance in world affairs by the mid-20th century. During the Cold
                    War, Europe was divided along the Iron
                    Curtain between NATO in the West and the Warsaw Pact in the East.
                </p>
            </div>
        </div>
    </main>


    <footer class='footer bg-dark py-3 mt-auto'>
        <div class="container">
            <span class="text-muted">Some of the npm Packages I used:</span>
            <ul>
                <li class='text-muted'><a href="https://expressjs.com/" class='link-secondary'>Express</a></li>
                <li class='text-muted'><a href="https://ejs.co/" class='link-secondary'>EJS</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            Information is taken from the following sites:
            <ul>
                <li class='text-muted'><a href="https://www.wikipedia.org/" class='link-secondary'>Wikipedia</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            The design and UI was built with the help of:
            <ul>
                <li class='text-muted'><a href="https://getbootstrap.com/" class='link-secondary'>Bootstrap</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>