<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Continents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#127758;Continents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mt-3 me-3">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class='nav-item mt-3 mb-3'>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/asia">Asia</a></li>
                                <li><a class="dropdown-item" href="/europe">Europe</a></li>
                                <li><a class="dropdown-item" href="/northamerica">North America</a></li>
                                <li><a class="dropdown-item" href="/africa">Africa</a></li>
                                <li><a class="dropdown-item" href="/australia">Australia</a></li>
                                <li><a class="dropdown-item" href="/southamerica">South America</a></li>
                                <li><a class="dropdown-item" href="/antarctica">Antarctica</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <img src="https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        class="img-fluid w-100">

    <main class='container mt-5'>
        <div class="row">
            <div class="col-12">
                <p class="fs-1 fw-bold fst-normal">Continent</p>
                <div class="fs-4 mb-5">
                    A continent is one of Earth’s seven main divisions of land. Generally identified by
                    convention
                    rather than any strict criteria, up to seven geographical regions are commonly regarded as
                    continents.
                </div>
                <div class="fs-3 mb-3 font-monospace">
                    These seven continents are :
                </div>
            </div>
            <div class="card me-3 mb-3 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Asia</h5>
                    <p class="card-text">Asia is Earth's largest and most populous continent, located primarily in
                        the Eastern and Northern Hemispheres. </p>
                    <a href="/asia" class="btn btn-info">Know More</a>
                </div>
            </div>
            <div class="card me-3 mb-3 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Europe</h5>
                    <p class="card-text">Europe is a landmass variously recognised as part of Eurasia or a continent in
                        its own right, located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere.
                    </p>
                    <a href="/europe" class="btn btn-info">Know More</a>
                </div>
            </div>
            <div class="card me-3 mb-3 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">North America</h5>
                    <p class="card-text">North America is a continent in the Northern Hemisphere and almost entirely
                        within the Western Hemisphere. It can also be described as the northern subcontinent of a single
                        continent, America.
                    </p>
                    <a href="/northamerica" class="btn btn-info">Know More</a>
                </div>
            </div>
            <div class="card me-3 mb-3 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Africa</h5>
                    <p class="card-text">Africa is the world's second-largest and second-most populous continent, after
                        Asia in both cases.
                    </p>
                    <a href="/africa" class="btn btn-info">Know More</a>
                </div>
            </div>
            <div class="card me-3 mb-5 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">South America</h5>
                    <p class="card-text">South America is a continent entirely in the Western Hemisphere and
                        mostly in the Southern Hemisphere, with a relatively small portion in the Northern Hemisphere
                    </p>
                    <a href="/southamerica" class="btn btn-info">Know More</a>
                </div>
            </div>
            <div class="card me-3 mb-5 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Australia</h5>
                    <p class="card-text">Australia, officially the Commonwealth of Australia, is a sovereign country
                        comprising the mainland of the Australian continent, the island of Tasmania, and numerous
                        smaller islands.
                    </p>
                    <a href="/australia" class="btn btn-info">Know More</a>
                </div>
            </div>
            <div class="card mb-5 bg-dark text-white shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Antarctica</h5>
                    <p class="card-text">Antarctica
                        is Earth's southernmost continent. It contains the geographic South Pole and is situated in the
                        Antarctic region of the Southern Hemisphere, almost entirely south of the Antarctic Circle, and
                        is surrounded by the Southern Ocean.
                    </p>
                    <a href="/antarctica" class="btn btn-info">Know More</a>
                </div>
            </div>

        </div>
    </main>
    <footer class='footer bg-dark py-3 mt-auto'>
        <div class="container">
            <span class="text-muted">Some of the npm Packages I used:</span>
            <ul>
                <li class='text-muted'><a href="https://expressjs.com/" class='link-secondary'>Express</a></li>
                <li class='text-muted'><a href="https://ejs.co/" class='link-secondary'>EJS</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            Information is taken from the following sites:
            <ul>
                <li class='text-muted'><a href="https://www.wikipedia.org/" class='link-secondary'>Wikipedia</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            The design and UI was built with the help of:
            <ul>
                <li class='text-muted'><a href="https://getbootstrap.com/" class='link-secondary'>Bootstrap</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>