<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>North America | Continents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#127758;Continents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mt-3 me-3">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class='nav-item mt-3 mb-3'>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/asia">Asia</a></li>
                                <li><a class="dropdown-item" href="/europe">Europe</a></li>
                                <li><a class="dropdown-item" href="/northamerica">North America</a></li>
                                <li><a class="dropdown-item" href="/africa">Africa</a></li>
                                <li><a class="dropdown-item" href="/australia">Australia</a></li>
                                <li><a class="dropdown-item" href="/southamerica">South America</a></li>
                                <li><a class="dropdown-item" href="/antarctica">Antarctica</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class='container'>
        <p class="fw-bold fst-normal display-1 text-center mb-5">North America</p>

        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1565475783696-96001eff1b45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Statue of Liberty</h5>
                        <p class='fw-bold text-white'> The Statue of Liberty is a colossal neoclassical sculpture on
                            Liberty Island in New
                            York Harbor in New York City, in the United States. The copper statue, a gift from the
                            people of France to the people of the United States.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1521747116042-5a810fda9664?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Golden Gate Bridge</h5>
                        <p class='fw-bold text-white'>The Golden Gate Bridge is a suspension bridge spanning the Golden
                            Gate, the one-mile-wide strait connecting San Francisco Bay and the Pacific Ocean.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1581390114939-946f9a890a7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Hollywood</h5>
                        <p class='fw-bold text-white'>Hollywood is a neighborhood in the central region of Los Angeles,
                            California. Its name has come to be a shorthand reference for the U.S. film industry and the
                            people associated with it.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1620636607286-087f5a7b5716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Chichén Itzá </h5>
                        <p class='fw-bold text-white'>Chichen Itza was a large pre-Columbian city built by the
                            Maya people of the Terminal Classic period. The archeological site is located in Tinúm
                            Municipality, Yucatán State, Mexico.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="fs-2 mb-5 font-monospace">
            North America is the 3rd largest and 4th most populous continent.
        </div>


        <div class="clearfix mb-5">
            <img src="https://images.unsplash.com/photo-1604549944235-3e5579b15cc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                class="rounded-pill col-md-6 float-md-end mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    North America is a continent in the Northern Hemisphere and almost entirely within the Western
                    Hemisphere. It can also be described as the northern subcontinent of a single continent, America. It
                    is bordered to the north by the Arctic Ocean, to the east by the Atlantic Ocean, to the southeast by
                    South America and the Caribbean Sea, and to the west and south by the Pacific Ocean. Because it is
                    on the North American Tectonic Plate, Greenland is included as part of North America geographically.
                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1513492365349-8ba97c199501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill me-5 col-md-6 float-md-start mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    North America covers an area of about 24,709,000 square kilometers, about
                    16.5% of the Earth's land area and about 4.8% of its total surface. North America is the
                    third-largest continent by area, following Asia and Africa, and the fourth by population after Asia,
                    Africa, and Europe. In 2013, its population was estimated at nearly 579 million people in 23
                    independent states, or about 7.5% of the world's population.
                </p>
            </div>
        </div>


        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1590233033196-a50b826b059b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill mt-5 col-md-6 float-md-end mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    North America was reached by its first human populations during the last glacial period. The
                    Paleo-Indian
                    period is taken to have lasted until about 10,000 years ago. The first recorded
                    Europeans to visit North America were the Norse around 1000 AD. Christopher
                    Columbus's arrival in 1492 sparked a transatlantic exchange which included migrations of European
                    settlers during the Age of Discovery and the early modern period. Present-day cultural and ethnic
                    patterns reflect interactions between European colonists, indigenous peoples, African slaves,
                    immigrants from Europe, Asia, and South Asia, and the descendants of these groups.
                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1515861209048-dae6a1e1ed56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill col-md-6 pe-3 float-md-start mb-3 ms-md-3 mt-5" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    The dominant languages in North America are English, Spanish, and French. Danish is prevalent in
                    Greenland alongside Greenlandic, and Dutch is spoken side by side local languages in the Dutch
                    Caribbean. The term Anglo-America is used to refer to the anglophone countries of the Americas:
                    namely Canada and the United States, but also sometimes
                    Belize and parts of the tropics, especially the Commonwealth Caribbean. Latin America refers to the
                    other areas of the Americas where the Romance languages,
                    derived from Latin, of Spanish and Portuguese, predominate: the other republics of Central America ,
                    part of the
                    Caribbean , Mexico, and most of South America.


                </p>
            </div>
        </div>
    </main>


    <footer class='footer bg-dark py-3 mt-auto'>
        <div class="container">
            <span class="text-muted">Some of the npm Packages I used:</span>
            <ul>
                <li class='text-muted'><a href="https://expressjs.com/" class='link-secondary'>Express</a></li>
                <li class='text-muted'><a href="https://ejs.co/" class='link-secondary'>EJS</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            Information is taken from the following sites:
            <ul>
                <li class='text-muted'><a href="https://www.wikipedia.org/" class='link-secondary'>Wikipedia</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            The design and UI was built with the help of:
            <ul>
                <li class='text-muted'><a href="https://getbootstrap.com/" class='link-secondary'>Bootstrap</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>