<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South America | Continents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">&#127758;Continents</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mt-3 me-3">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class='nav-item mt-3 mb-3'>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Continents
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/asia">Asia</a></li>
                                <li><a class="dropdown-item" href="/europe">Europe</a></li>
                                <li><a class="dropdown-item" href="/northamerica">North America</a></li>
                                <li><a class="dropdown-item" href="/africa">Africa</a></li>
                                <li><a class="dropdown-item" href="/australia">Australia</a></li>
                                <li><a class="dropdown-item" href="/southamerica">South America</a></li>
                                <li><a class="dropdown-item" href="/antarctica">Antarctica</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class='container'>
        <p class="fw-bold fst-normal display-1 text-center mb-5">South America</p>

        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.unsplash.com/photo-1594387295585-34ba732932c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Christ the Redeemer</h5>
                        <p class='fw-bold text-white'> Christ the Redeemer is an
                            Art Deco statue of Jesus Christ in Rio de Janeiro, Brazil, created by French sculptor Paul
                            Landowski and built by Brazilian engineer Heitor da Silva Costa, in collaboration with
                            French engineer Albert Caquot.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1526392060635-9d6019884377?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Machu Picchu</h5>
                        <p class='fw-bold text-white'>Machu Picchu is a 15th-century Inca citadel located in the Eastern
                            Cordillera of southern Peru on a 2,430-meter mountain ridge. It is located
                            in the Machupicchu District within Urubamba Province above the Sacred Valley, which is 80
                            kilometers northwest of Cuzco. The Urubamba River flows past it, cutting through the
                            Cordillera and creating a canyon with a tropical mountain climate.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1617721751087-ae4a46ebb980?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Iguazu Falls</h5>
                        <p class='fw-bold text-white'>Iguazú Falls or Iguaçu Falls are waterfalls of the Iguazu River on
                            the border of the
                            Argentine province of Misiones and the Brazilian state of Paraná.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://images.unsplash.com/photo-1483729558449-99ef09a8c325?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                        class="d-block w-100 rounded" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class='fw-bolder text-white'>Rio De Janeiro</h5>
                        <p class='fw-bold text-white'>Rio de Janeiro, or simply Rio, is the
                            second-most populous city in Brazil and the sixth-most populous in the Americas. Rio de
                            Janeiro is the capital of the state of Rio de Janeiro.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <div class="fs-2 mb-5 font-monospace">
            South America fourth largest and fifth most populous continent.
        </div>


        <div class="clearfix mb-5">
            <img src="https://images.unsplash.com/photo-1563126171-fa019bbbfa18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="rounded-pill col-md-6 float-md-end mb-3 ms-md-3 mt-5" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    South America is bordered on the west by the Pacific Ocean and on the north and east by the Atlantic
                    Ocean, North America and the Caribbean Sea lie to the northwest. The continent generally includes
                    twelve sovereign states: Argentina, Bolivia, Brazil, Chile, Colombia, Ecuador, Guyana, Paraguay,
                    Peru, Suriname, Uruguay, and Venezuela; two dependent territories: the Falkland Islands and South
                    Georgia and the South Sandwich Islands; and one internal territory: French Guiana.
                    In addition, the ABC islands of the Kingdom of the Netherlands, Ascension Island, Bouvet Island,
                    Panama,
                    and Trinidad and Tobago may also be considered parts of South
                    America.
                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1581922825601-d86d2a42ac38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                class="rounded-pill me-5 col-md-6 float-md-start mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    The distribution of the average temperatures in the region presents a constant regularity from the
                    30° of latitude south, when the isotherms tend, more and more, to be confused with the degrees of
                    latitude.

                    In temperate latitudes, winters and summers are milder than in North America. This is because the
                    most extensive part of the continent is in the equatorial zone, therefore giving the Southern Cone
                    more oceanic
                    influence, therefore giving the Southern Cone more oceanic influence, which moderates year round
                    temperatures.

                    The average annual temperatures in the Amazon basin oscillate around 27 °C, with low thermal
                    amplitudes and high rainfall indices. Between the Maracaibo Lake and the mouth of the Orinoco,
                    predominates an equatorial climate of the type Congolese.
                </p>
            </div>
        </div>


        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1513343987712-5da15ea2a9bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                class="rounded-pill col-md-6 float-md-end mb-3 ms-md-3" alt="">
            <div class="card bg-light">
                <p class='fs-4 card-body'>
                    South America is believed to have been joined with Africa from the late Paleozoic Era to the early
                    Mesozoic Era, until the supercontinent Pangaea began to rift and break apart about 225 million years
                    ago. Therefore, South America and Africa share similar fossils and rock layers.

                    South America is thought to have been first inhabited by humans when people were crossing the Bering
                    Land Bridge at least 15,000 years ago from the territory that is present-day
                    Russia. They migrated south through North America, and eventually reached South America through the
                    Isthmus of Panama.

                </p>
            </div>
        </div>

        <div class="clearfix my-5">
            <img src="https://images.unsplash.com/photo-1606925797300-0b35e9d1794e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=881&q=80"
                class="rounded-circle col-md-6 pe-3 float-md-start mb-3 ms-md-3 mt-3" alt="">
            <div class="card bg-light mt-5">
                <p class='fs-4 card-body'>
                    A wide range of sports are played in the continent of South America, with football being the most
                    popular overall, while baseball is the most popular in Venezuela.

                    Other sports include basketball, cycling, polo, volleyball, futsal, motorsports, rugby, handball,
                    tennis, golf, field hockey, boxing, and cricket.

                    South America hosted its first Olympic Games in Rio de Janeiro, Brazil, in 2016, and has hosted the
                    Youth Olympic Games in Buenos Aires, Argentina, in 2018.

                    South America shares with Europe supremacy over the sport of football as all winners in FIFA World
                    Cup history and all winning teams in the FIFA Club World Cup have come from these two continents.
                </p>
            </div>
        </div>
    </main>


    <footer class='footer bg-dark py-3 mt-auto'>
        <div class="container">
            <span class="text-muted">Some of the npm Packages I used:</span>
            <ul>
                <li class='text-muted'><a href="https://expressjs.com/" class='link-secondary'>Express</a></li>
                <li class='text-muted'><a href="https://ejs.co/" class='link-secondary'>EJS</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            Information is taken from the following sites:
            <ul>
                <li class='text-muted'><a href="https://www.wikipedia.org/" class='link-secondary'>Wikipedia</a></li>
            </ul>
        </div>
        <div class="container text-muted">
            The design and UI was built with the help of:
            <ul>
                <li class='text-muted'><a href="https://getbootstrap.com/" class='link-secondary'>Bootstrap</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</body>

</html>